@import '../../../assets/scss/setup/functions';
@import '../../../assets/scss/setup/mixins';
@import '../../../assets/scss/setup/variables';

.forecast {
	padding: em(10px) em(30px) em(10px);
	font-size: em(20px);
	display: grid;
	height: 85%;

	.curr-weather-details {
		max-width: 1100px;
		width: 100%;
		padding: em(10px) 0 em(30px);
		margin: auto;
		display: grid;
		grid-template-columns: 60px 1fr 0.8fr 110px;
		grid-template-areas:
			'heartBtn locationName locationTemp weatherImg'
			'nothing locationDate locationTemp weatherText';

		.weather-txt {
			grid-area: weatherText;
			font-size: em(16px);
			text-align: center;
		}

		.btn-favorite {
			grid-area: heartBtn;
			text-transform: capitalize;
			justify-self: center;
			align-self: center;

			.icon-heart {
				stroke: black;
				fill: white;

				&.favorite {
					fill: red;
				}
			}
		}

		.location-temp {
			grid-area: locationTemp;
			font-size: clamp(em(30px), 6vw, em(50px));
			font-weight: 600;
			place-self: center;
		}

		.location-date {
			grid-area: locationDate;
			align-self: center;
			font-size: clamp(em(13px), 2.5vw, em(20px));
		}

		.weather-img {
			grid-area: weatherImg;
		}

		.location-name {
			grid-area: locationName;
			align-self: center;
			text-transform: capitalize;
			font-size: clamp(em(20px), 5vw, em(25px));
		}

		@include for-mobile-layout {
			grid-template-columns: 0.4fr 1fr 0.5fr;
			gap: em(5px);
			grid-template-areas:
				'heartBtn locationName locationName'
				'nothing locationDate locationDate'
				'nothing locationTemp weatherImg'
				'nothing locationTemp weatherText';
		}

		.location-temp {
			justify-self: start;
		}
	}
}
