@import '../../assets/scss/setup/functions';

.forecast-list {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(200px, auto));
	gap: em(30px);
	justify-content: center;
	align-content: start;
}
