@import '../../assets/scss/setup/functions';
@import '../../assets/scss/setup/mixins';
@import '../../assets/scss/setup/variables';

.forecast-list {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(200px, auto));
	gap: em(30px);
	justify-content: center;
	align-content: start;

	@include for-mobile-layout {
		justify-content: stretch;
	}
}
