.app-header {
  height: 10vh;
  align-items: center;
  justify-content: flex-start;
 
  .nav-bar{
    margin-left:auto;
    a{
      padding: em(10px);

      &.active{
        color:$clr1;
      }
    }
  }

}