/* Media queries Breakpoint mixins */

@mixin for-mobile-layout {
	@media (max-width: $padded-break-narrow) {
		@content;
	}
}

@mixin for-narrow-layout {
	@media (min-width: $padded-break-narrow) {
		@content;
	}
}

@mixin for-normal-layout {
	@media (min-width: $padded-break-normal) {
		@content;
	}
}

@mixin for-wide-layout {
	@media (min-width: $padded-break-wide) {
		@content;
	}
}

@mixin layoutGTC($max, $layoutPadding) {
	grid-template-columns:
		minmax(auto, $layoutPadding)
		minmax($max, 1fr)
		minmax(auto, $layoutPadding);
}

@mixin themeColors($txtClr: $clr3, $bgColor: $clr0) {
	background-color: $bgColor;
	color: $txtClr;

	&.dark-mode,
	body.dark-mode & {
		background-color: $txtClr;
		* {
			color: $bgColor;
		}
	}
}

// @mixin themeColorsPrimary($txtColor: $clr3, $backgroundColor: $clr0) {
// 	&.dark-mode,
// 	body.dark-mode & {
// 		background-color: $backgroundColor;
// 		* {
// 			color: $txtColor;
// 		}
// 	}
// }
