// Poppins
@font-face {
	font-family: 'sigmar';
	src: url(../../fonts/Sigmar/Sigmar-Regular.ttf);
}

@font-face {
	font-family: 'didactGothic';
	src: url(../../fonts/DidactGothic/DidactGothic-Regular.ttf);
}
