// Colors

$clr0: #fff;
$clr1: #e8eaed;
$clr2: #919191;
$clr3: #202124;

$primary0: #ffe168;
$primary1: #ecc456;

$secondary: #4dbfd9;

// LAYOUT BREAKPOINTS
$break-narrow: 400px;
$break-normal: 500px;
$break-wide: 800px;

$layoutPaddingLarge: 100px;
$layoutPaddingMedium: 70px;
$layoutPaddingSmall: 10px;

$padded-break-narrow: $break-narrow + $layoutPaddingSmall * 2;
$padded-break-normal: $break-normal + $layoutPaddingMedium * 2;
$padded-break-wide: $break-wide + $layoutPaddingLarge * 2;
