.main-layout {
	display: grid;
	grid-template-columns: 10px 1fr 10px;

	> * {
		grid-column: 2;
	}

	> *.full {
		grid-column: 1 / -1;
	}

	@include themify('background-color', 'bg');
	@include themify('color', 'fc');

	@include for-narrow-layout {
		@include layoutGTC($break-narrow, $layoutPaddingSmall);
	}

	@include for-normal-layout {
		@include layoutGTC($break-normal, $layoutPaddingMedium);
	}

	@include for-wide-layout {
		@include layoutGTC($break-wide, $layoutPaddingLarge);
	}
}

.main-container-layout {
	padding-top: 3vh;
	min-height: calc(100vh - em(90px));
	display: grid;

	.screen {
		background-color: rgba(rgb(70, 70, 70), 0.5);
		z-index: 10;
		position: absolute;
		inset: 0;
		top: rem(90px);
		display: none;
	}

	.app-header:has(.nav-bar.open) ~ & {
		.screen {
			display: block;
		}
	}
}
