@import '../../assets/scss/setup/variables';
@import '../../assets/scss/setup/mixins';
@import '../../assets/scss/setup/functions';

.app-header {
	height: rem(90px);
	align-items: center;
	justify-content: flex-start;
	box-shadow: 1px -1px 4px 1px $clr3;
	@include themify('background-color', 'header-bg');
	@include themify('color', 'header-fc');

	.logo {
		text-transform: uppercase;
		letter-spacing: 5px;
		font-size: em(35px);
		@include themify('color', 'logo-fc');
	}

	.action-btn {
		margin-left: auto;
	}

	.nav-bar {
		gap: em(15px);
		margin-left: auto;
		a {
			padding: em(10px);
			font-weight: 600;
			font-size: em(18px);

			&.active {
				@include themify('color', 'logo-fc');
			}
		}
	}

	.nav-ham {
		display: none;
	}

	.settings-menu {
		position: relative;
	}

	.settings-popper {
		position: absolute;
		right: 0;
		z-index: 5;
	}

	.menu-item {
		span {
			text-transform: capitalize;
			margin-inline-end: em(5px);
		}

		.toggle-btn-group {
			width: 100%;
			display: grid;
			grid-auto-flow: column;
		}
	}

	@include for-mobile-layout {
		justify-content: flex-end;
		align-items: center;

		.nav-bar {
			display: none;
		}

		.nav-ham {
			display: flex;
		}

		.nav-bar.open {
			display: flex;
			flex-direction: column;

			position: absolute;
			top: em(90px);
			left: 0;
			right: 0;
			bottom: 0;

			z-index: 2;
			margin: 0;
			background-color: $clr1;
			padding: em(10px);

			@include themify('background-color', 'bg');
			@include themify('color', 'fc');

			a {
				border-bottom: 1px solid $clr2;
				padding: em(10px);
				margin: 0;

				&.active {
					color: $primary1;
				}
			}
		}
	}
}
