@import '../../assets/scss/setup/variables';

.app-header {
	height: 10vh;
	align-items: center;
	justify-content: flex-start;
	background-color: $primary1;
	color: $clr2;
	box-shadow: 1px -1px 4px 1px $clr3;

	&.dark-mode {
		background-color: darken($clr3, 8);

		.logo {
			color: $primary1;
			font-weight: bold;
		}
	}

	.logo {
		text-transform: uppercase;
		font-size: em(25px);
	}

	.nav-bar {
		gap: 15px;
		margin-left: auto;
		a {
			padding: em(10px);
			font-weight: 600;
			font-size: em(18px);

			&.active {
				color: $secondary;
			}
		}
	}
}
