@import '../../assets/scss/setup/variables';

.forecast-card {
	justify-content: center;
	text-align: center;
	padding: 10px;

	&.location-card {
		cursor: pointer;

		&:hover {
			scale: 1.02;
		}
	}

	h5 {
		text-transform: capitalize;
		font-family: $didactGothic;
		font-weight: 600;
	}

	.img-wrapper {
		min-width: 150px;
		place-self: center;
	}

	.temp-details {
		gap: 15px;
		width: 80%;
		justify-self: center;

		p {
			font-family: $didactGothic;
		}
	}

	.light-mode & {
		.min-temp {
			color: $clr2;
		}
	}

	.dark-mode & {
		.max-temp {
			color: $clr3;
		}
	}
}
