.forecast-card {
	justify-content: center;
	text-align: center;
	padding: 10px;

	&.location-card {
		cursor: pointer;

		&:hover {
			scale: 1.02;
		}
	}

	h5 {
		text-transform: capitalize;
	}

	.img-wrapper {
		min-width: 150px;
		place-self: center;
	}

	.temp-details {
		gap: 15px;
		width: 80%;
		justify-self: center;

		.min-temp {
			color: grey;
		}
	}
}
