@import '../../assets/scss/setup/variables';
@import '../../assets/scss/setup/functions';

.forecast-card {
	justify-content: center;
	text-align: center;
	padding: em(5px);

	* {
		justify-self: center;
	}

	&.location-card {
		cursor: pointer;

		&:hover {
			scale: 1.02;
		}
	}

	h5 {
		text-transform: capitalize;
		font-weight: 600;
	}

	.weather-img {
		height: 45px;
		width: 75px;
	}

	.temp-details {
		gap: em(15px);
	}

	.light-mode & {
		.min-temp {
			color: $clr2;
		}
	}

	.dark-mode & {
		.max-temp {
			color: $clr3;
		}
	}
}
